header{
    min-height: 500px;
    padding: 48px 24px;
}
header div{
    max-width: 400px;
}
header img{
    width: 100%;
    max-width: 400px;
}
body{
    display: grid;
    grid-template-areas:
    "nav"
    "header"
    "main"
    "aside"
    "footer "
    ;
}
@media screen and (min-width:768px){
    body{
        grid-template-areas:
        "nav nav"
        "header header"
        "main aside"
        "footer footer"
        ;
    }
    .aside{
        display: flex;
        align-items: flex-start;
    }
}
nav{
    grid-area: nav;
}
main{
    grid-area: main;
}
header{
    grid-area: header;
}
.aside{
    grid-area: aside;
}
footer{
    grid-area: footer;
}